node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
coverage
.nyc_output
.cache
.parcel-cache
.next
.nuxt
.vuepress/dist
.serverless
.fusebox/
.dynamodb/
.tern-port
*.log
logs
*.pid
*.seed
*.pid.lock
pids
lib-cov
build/Release
jspm_packages/
typings/
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.env.test
.vscode
.idea
